<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <Link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <form action="/search_result" method="POST">
            <label for="j">  JOB  :</label>
            <input name="jobname" id="j">
<!--            <button type="submit">SUBMIT</button>-->
            <br>
            <label for="p">Page :</label>
            <input  name="page" id="p">
            <br>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
    <div>
        {%if requestMethod == 'POST' %}
        <h2>your prefer job is {{ jobname }}</h2>
        {% endif %}
    </div>
</body>
</html>